body {
  background: url("https://images.unsplash.com/photo-1444712244658-da55031906a9?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=dbcfa919113ddd257ea878c6d5e643e9") no-repeat center center fixed;
  background-size: cover;
}

nav {
  height: 50px;
  width: 100%;
  position: relative;
}
ul.navbar-nav {
  white-space:nowrap;
}
.navbar-nav>li {
  height: 100%;
  float: left;
  display: inline-block;
}
.navbar-header {
  float: right;
  display: block;
  padding: 10px 10px;
  height: 100%;
  width: 20%;
  color: #798f74;
  font-size: 20px;
  position: absolute;
  top: 0%;
  right: 0px;
  overflow: visible;
}
div.startup, div.options {
  width: 600px;
  height: 400px;
  border-radius: 2px;
  background: rgba(242,239,232,0.7);
  position: relative;
  margin: auto;
  clear: left;
  text-align: center;
}
div.options {
  padding: 50px;
}

.startup-form-group {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  /*background: rgba(242,239,232,0.75);*/
  transform: translate(-50%, -50%);
  text-align: center;
}

form.startup, form.options {
  width: 400px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(242,239,232,0);
}
form.options {
  margin-top: 30px;
}

.btn {
  margin: 20px 0px;
  background-color: #b7b2c8;
}
.btn:hover {
  background-color: #8c889b;
}
.btn.options {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
div.auth {
  width: 80%;
  height: 400px;
  position: relative;
  margin: auto;
}
div.signin {
  width: 45%;
  height: 350px;
  background: rgba(242,239,232,0.7);
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 5%;
  /*display: inline;*/
}
div.signup {
  width: 45%;
  height: 350px;
  background: rgba(242,239,232,0.7);
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5%;
}
div#scores {
  width: 80%;
  height: 550px;
  margin: auto;
  background: rgba(242,239,232,0.7);
  padding: 40px;
  position: relative;
}
#map {
  margin: auto;
}
div#scoring-info {
  font-size: 11px;
  text-align: justify;
  float: right;
  margin: 5%;
}
div#total-score {
  width: 200px;
  height: 200px;
  font-size: 24px;
  border-radius: 4px;
  border-width: 2px;
  padding: 10px;
  text-align: center;
  position: absolute;
  left: 25%;
  top: 40px;
  transform: translate(-50%, 0%);
}

span#total-score-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
span#total-score-value {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
div#total-score.low-score {
  border-color:  #ff0000;
  border-style: solid;
}

div#total-score.mid-score {
  border-color: #ff6600;
  border-style: solid;
}

div#total-score.high-score {
  border-color: #009900;
  border-style: solid;
}
span#total-score-text.low-score, span#total-score-value.low-score {
  color: #ff0000;
}
span#total-score-text.mid-score, span#total-score-value.mid-score {
  color: #ff6600;
}
span#total-score-text.high-score, span#total-score-value.high-score {
  color: #009900;
}
div.save-search {
  width: 80%;
  height: 100px;
  background: rgba(242,239,232,0.7);
  margin: auto;
  text-align: center;
}
div#chart-container {
  width: 100%;
  height: 250px;
  padding: 0px;
  position: relative;
}
div#chart-container a {
  position: absolute;
  right: 0%;
  bottom: 0%;
  transform: translate(-50%, 0%);
}
div#scores-chart.c3 {
  position: absolute !important;
  width: 50%;
  right: 0px;
  padding: 20px 20px;
}
#saved-searches-container {
  width: 80%;
  height: 200px;
  margin: auto;
  background: rgba(242,239,232,0.7);
  padding: 20px 40px;
  margin-bottom: 20px;
}

#mapSave {
  margin: auto;
  margin-bottom: 50px;
}
