body {
  /*background-color: #dbe9d8;*/
  background: url("https://images.unsplash.com/photo-1444712244658-da55031906a9?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=dbcfa919113ddd257ea878c6d5e643e9") no-repeat center center fixed;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
  background-size: cover;
}
nav {
  height: 50px;
  float: left;
  width: 100%;
}

.navbar-header {
  float: right;
  display: block;
  padding: 10px 15px;
  height: 50px;
  color: #798f74;
  font-size: 20px;
}
.startup {
  width: 600px;
  height: 400px;
  border-radius: 2px;
  background: rgba(242,239,232,0.7);
  /*background-color: #f2efe8;*/
  position: relative;
  margin: auto;
  clear: left;
}

.startup-form-group {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  /*background: rgba(242,239,232,0.75);*/
  transform: translate(-50%, -50%);
  text-align: center;
}
form.startup {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  background: rgba(242,239,232,0);
}
.btn {
  margin: 20px 0px;
  background-color: #b7b2c8;
}
.btn:hover {
  background-color: #8c889b;
}
div.signin.ng-scope {
  width: 300px;
  height: 350px;
  background: rgba(242,239,232,0.7);
  float: left;
  margin: 10px 50px;
  padding: 40px;
  /*display: inline;*/
}
div.signup.ng-scope {
  width: 300px;
  height: 350px;
  background: rgba(242,239,232,0.7);
  float: right;
  margin: 10px 50px;
  padding: 40px;
}
