<div>

<h1>When choosing a place to live, what is important to you?</h1>

<div>
  <!-- Delete this both of this in production -->
  <p>Sample destination address:</p>
  <h1>17310 Vickie Ave, Cerritos, CA</h1>
</div>

<form ng-submit="vm.optionsGeoLocation()">

  <div ng-show="vm.priorities.commute===1">
    Insert your work/school/commute address!
    <input type="text" placeholder="Input your work/school/commute drive address" ng-model="vm.secondAddress">
  </div>

  <h2>Select What Criteria Matter to You</h2>

  <label>
    <input type="checkbox" name="options"  ng-model="vm.priorities.safety" ng-true-value="1" ng-false-value="0"> Safety
  </label>
  <label>
    <input type="checkbox" name="options" ng-model="vm.priorities.commute" ng-true-value="1" ng-false-value="0"> Traffic
  </label>
  <label>
    <input type="checkbox" name="options" ng-model="vm.priorities.walkability" ng-true-value="1" ng-false-value="0"> Walkability
  </label>
  <button type="submit">Next</button>
</form>


<pre>
  <!-- delete both of this in production -->
  vm.checkboxes 2-way data-binding:
  {{vm.priorities}}
</pre>

</div>
