<div>

  <div ui-view="nav"></div>

  <div id="saved-searches-container">
    <h3>Your Saved Results</h3>
    <ul ng-if="vm.populateList" style="list-style: none;">
      <li ng-click="vm.renderSavedMaps(0)"><a>Show searches without commuting address</a></li>
      <li ng-repeat="user in vm.mapsName" ng-click="vm.renderSavedMaps($index)" ng-if="$index > 0">
        <a>Searches with commuting address : {{user.destinationAddress.full}}</a>
      </li>
    </ul>
  </div>

  <div id="mapSave" style="height:400px;width:80%;"></div>

</div>
